#!/bin/bash

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then

  # shellcheck disable=SC2015
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"

	alias ls='ls --color=auto'
	alias dir='dir --color=auto'
	alias vdir='vdir --color=auto'

	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'

fi

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# Shortcuts
alias g="git"
alias h="history"
alias ll="ls -al"
alias hosts='sudo vi /etc/hosts'
alias vi='vim'

alias mci="mvn clean install"
alias mcp="mvn clean package"
alias mversion="mvn versions:display-dependency-updates"

# Kafka options
alias kafka-zookeeper="$KAFKA_HOME/bin/zookeeper-server-start.sh $KAFKA_HOME/config/zookeeper.properties"
alias kafka-server-broker-0=kafka-server
alias kafka-server-broker-1="kafka-server --broker.id 1 --listeners PLAINTEXT://:9093 --log.dirs /tmp/kafka-logs-broker-1"
alias kafka-server-broker-2="kafka-server --broker.id 2 --listeners PLAINTEXT://:9094 --log.dirs /tmp/kafka-logs-broker-2"
alias kafka-server-broker-3="kafka-server --broker.id 3 --listeners PLAINTEXT://:9095 --log.dirs /tmp/kafka-logs-broker-3"

# Bytecode Viewer
alias bytecode-viewer="java -jar /opt/bytecode-viewer/Bytecode-Viewer-$VERSION_BYTECODE_VIEWER.jar"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
