#!/bin/bash

source ~/.functions

export SOFTWARE_FOLDER="$HOME/software"

export VERSION_ECLIPSE=2024-09-R
export VERSION_MAVEN=3.9.9
export VERSION_MVND=1.0.2
export VERSION_ANT=1.10.15
export VERSION_JMETER=5.6.3
export VERSION_GRADLE=8.10.2
export VERSION_OKD=4.15.0-0.okd-2024-03-10-010116
export VERSION_CRC=2.41.0
export VERSION_GRAALVM_JAVA=23
export VERSION_GRAALVM_JAVA_PLUS=37.1
export VERSION_KAFKA=3.8.0
export VERSION_KAFKA_SCALA=2.13
export VERSION_JBANG=0.117.1
export VERSION_HASHICORP_ENVCONSUL=0.13.2
export VERSION_HASHICORP_CONSUL_TEMPLATE=0.39.1
export VERSION_STERN=1.30.0
export VERSION_PROMETHUES=2.54.1
export VERSION_ISTIO=1.23.0
export VERSION_KCCTL=1.0.0.CR3
export VERSION_BYTECODE_VIEWER=2.12
export VERSION_KEYCLOAK=25.0.4
export VERSION_WILDFLY=33.0.1.Final
export VERSION_QUARKUS=3.14.1
export VERSION_SONARQUBE=10.6.0.92116
export VERSION_MINECRAFT_FORGE_SERVER="1.21.1-52.0.9"
export VERSION_PODMAN_DESKTOP=1.12.0
export VERSION_GROOVY=4.0.22

# GraalVM Community
export GRAALVM_HOME=/opt/graalvm/graalvm-community-openjdk-$VERSION_GRAALVM_JAVA+$VERSION_GRAALVM_JAVA_PLUS

# Kafka home
export KAFKA_INSTALL_DIR="/opt/apache/kafka"
export KAFKA_HOME="$KAFKA_INSTALL_DIR/kafka_"$VERSION_KAFKA_SCALA"-$VERSION_KAFKA"

# JAVA
export JAVA_FOLDER="/opt/java"

export VERSION_JAVA_8="jdk8u422-b05"
export VERSION_JAVA_11="jdk-11.0.25+9"
export VERSION_JAVA_17="jdk-17.0.9+9"
export VERSION_JAVA_21="jdk-21.0.5+11"
export VERSION_JAVA_23="jdk-23+37"
export VERSION_JAVA_NEXT="jdk-next"

export JAVA_NEXT_HOME="$HOME/git/openjdk/jdk/build/linux-x86_64-server-release/jdk"
