#!/bin/bash

source ~/.functions

export SOFTWARE_FOLDER="$HOME/software"

# https://www.eclipse.org/downloads/packages/
export VERSION_ECLIPSE=2025-12-R
# https://netbeans.apache.org/front/main/download/
export VERSION_NETBEANS=28
# https://maven.apache.org/download.cgi
export VERSION_MAVEN=3.9.12
# https://github.com/apache/maven-mvnd/releases
export VERSION_MVND=1.0.3
# https://ant.apache.org/bindownload.cgi
export VERSION_ANT=1.10.15
# https://jmeter.apache.org/download_jmeter.cgi
export VERSION_JMETER=5.6.3
# https://gradle.org/releases/
export VERSION_GRADLE=9.3.0
# https://github.com/okd-project/okd/releases
export VERSION_OKD=4.22.0-okd-scos.1
# https://github.com/crc-org/crc/releases
export VERSION_CRC=2.57.0
# https://github.com/graalvm/graalvm-ce-builds/releases/
export VERSION_GRAALVM_COMMUNITY=25.0.0
export VERSION_GRAALVM_COMMUNITY_JAVA=25
export VERSION_GRAALVM_COMMUNITY_JAVA_BUILD=37.1
# https://kafka.apache.org/downloads
export VERSION_KAFKA=4.1.1
export VERSION_KAFKA_SCALA=2.13
# https://github.com/jbangdev/jbang/releases
export VERSION_JBANG=0.135.1
# https://github.com/hashicorp/envconsul/releases
export VERSION_HASHICORP_ENVCONSUL=0.13.4
# https://github.com/hashicorp/consul-template/releases
export VERSION_HASHICORP_CONSUL_TEMPLATE=0.41.3
# https://github.com/stern/stern/releases
export VERSION_STERN=1.33.1
# https://prometheus.io/download/
export VERSION_PROMETHUES=3.9.1
# https://istio.io/latest/docs/setup/additional-setup/download-istio-release/
export VERSION_ISTIO=1.28.3
# https://github.com/kcctl/kcctl/releases
export VERSION_KCCTL=1.0.0-early-access
# https://github.com/Konloch/bytecode-viewer/releases
export VERSION_BYTECODE_VIEWER=2.12
# https://www.keycloak.org/downloads
export VERSION_KEYCLOAK=26.5.1
# https://www.wildfly.org/downloads/
export VERSION_WILDFLY=39.0.0.Final
# https://github.com/quarkusio/quarkus/releases
export VERSION_QUARKUS=3.30.8
# https://www.sonarsource.com/products/sonarqube/downloads/success-download-community-edition/
export VERSION_SONARQUBE=26.1.0.118079
# https://files.minecraftforge.net/net/minecraftforge/forge/
export VERSION_MINECRAFT_FORGE_SERVER="1.21.11-61.0.7"
# https://github.com/podman-desktop/podman-desktop/releases
export VERSION_PODMAN_DESKTOP=1.25.0-x64
# https://groovy.apache.org/download.html
export VERSION_GROOVY=5.0.4

# GraalVM Community
export GRAALVM_HOME=/opt/graalvm/graalvm-community-openjdk-$VERSION_GRAALVM_COMMUNITY_JAVA+$VERSION_GRAALVM_COMMUNITY_JAVA_BUILD

# Kafka home
export KAFKA_INSTALL_DIR="/opt/apache/kafka"
export KAFKA_HOME="$KAFKA_INSTALL_DIR/kafka_"$VERSION_KAFKA_SCALA"-$VERSION_KAFKA"

# JAVA
export JAVA_FOLDER="/opt/java"

# https://github.com/adoptium/temurin8-binaries
export VERSION_JAVA_8="jdk8u472-b08"
# https://github.com/adoptium/temurin11-binaries
export VERSION_JAVA_11="jdk-11.0.29+7"
# https://github.com/adoptium/temurin17-binaries
export VERSION_JAVA_17="jdk-17.0.17+10"
# https://github.com/adoptium/temurin21-binaries
export VERSION_JAVA_21="jdk-21.0.10+7"
# https://github.com/adoptium/temurin24-binaries
export VERSION_JAVA_24="jdk-24.0.2+12"
# https://github.com/adoptium/temurin25-binaries
export VERSION_JAVA_25="jdk-25.0.2+10"

export VERSION_JAVA_NEXT="jdk-next"

export JAVA_NEXT_HOME="$HOME/git/openjdk/jdk/build/linux-x86_64-server-release/jdk"
