#!/bin/bash

# Create a new directory and enter it
mkd() {
	mkdir -p "$@"
	cd "$@" || exit
}

# Syntax-highlight JSON strings or files
# Usage: `json '{"foo":42}'` or `echo '{"foo":42}' | json`
json() {
	if [ -t 0 ]; then # argument
		python -mjson.tool <<< "$*" | pygmentize -l javascript
	else # pipe
		python -mjson.tool | pygmentize -l javascript
	fi
}

# Display - interface - status : UNKNOWN|UU|DOWN - ip/range
myip(){
	ip -br -4 addr show
}

# Get colors in manual pages
man() {
	env \
		LESS_TERMCAP_mb="$(printf '\e[1;31m')" \
		LESS_TERMCAP_md="$(printf '\e[1;31m')" \
		LESS_TERMCAP_me="$(printf '\e[0m')" \
		LESS_TERMCAP_se="$(printf '\e[0m')" \
		LESS_TERMCAP_so="$(printf '\e[1;44;33m')" \
		LESS_TERMCAP_ue="$(printf '\e[0m')" \
		LESS_TERMCAP_us="$(printf '\e[1;32m')" \
		man "$@"
}

# Ban ip from port 25 via iptables
banport25(){
	if [ "$#" -ne 1 ]; then
    	echo "ERROR! You must provide one and only one argument!"
		echo "Use: banport25 127.0.0.1"
	else
		echo "ban from port 25 : $1"
		#sudo iptables -A INPUT -s $1 -p tcp --destination-port 25 -j DROP
	fi
}

# Git Squash
function gitS() {	
	# Check if the current directory is in a Git repository.
	if [ "$(git rev-parse --is-inside-work-tree &>/dev/null; echo "${?}")" == '0' ]; then

		if [ "X" != "X$1" ]; then		
			MESSAGE=""
			if [ "X" != "X$2" ]; then
				MESSAGE=" -m \"$2\""	
			fi

			command="git reset --soft HEAD~$1"			
			$command

			command="git commit $MESSAGE"	
			$command
		else
			echo "Head is first argument"
		fi

	else
		echo "Current directory is NOT in a Git repository"
	fi
}