[user]
	name = Michael Bornholdt Nielsen
	email = michaelbornholdtnielsen@gmail.com
	signingkey = C8F94B879B60AD8B
[github]
	user = jarryDk
[cola]
	spellcheck = false
	startupmode = list
[commit]
	gpgsign = true
[core]
	editor = vim
[pull]
	rebase = true
