[user]
	name = Michael Bornholdt Nielsen
	email = michaelbornholdtnielsen@gmail.com
	signingkey = 7EFAFCE8469E0798
[github]
	user = jarryDk
[cola]
	spellcheck = false
[commit]
	gpgsign = true
[core]
	editor = vim
